<% if logged_in? %>
<div class="row">
  <aside class="col-md-4">

    <section class="stats">
      <%= render 'shared/stats' %>
    </section>

    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>

    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <table>
        <tbody>
          <% @feed_items.each do |micropost| %>
          <tr>
            <td><%= micropost.content %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
      
</div>

</aside>

</div>
<% end %>